.app.dark {
  width: 100%;
  background-color: #171717;
  color: rgb(185, 181, 181);

  .chartGrid {
    stroke: rgba(240, 234, 234, 0.219);
  }

  .table {
    background-color: #242323;

    .tableCell {
      color: rgb(143, 141, 141);
    }
  }

  .navbar {
    background-color: #171717;
    color: #999;
    border-color: #171717;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #171717;

    hr {
      border-color: #999;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }
      }
    }
  }

  .datatable {
    background-color: #171717;
    .datagrid {
      color: rgb(140, 138, 138);
      border: none;
      min-width: 600px; // Ensures the grid has a minimum width

      .MuiDataGrid-columnHeaders,
      .MuiDataGrid-columnHeaderTitleContainer,
      .MuiDataGrid-cell {
        color: rgb(140, 138, 138);
        border: none;
      }

      .MuiDataGrid-cellContent {
        text-align: center;
      }
    }

    .cellAction {
      .viewButton {
        color: rgba(77, 142, 226, 0.838);
      }

      .deleteButton {
        color: rgb(192, 88, 88);
      }
    }
  }

  .prodatatable {
    background-color: #171717;
    .prodatagrid {
      color: rgb(140, 138, 138);
      border: none;

      .proviewButton {
        color: rgba(77, 142, 226, 0.838);
      }

      .prodeleteButton {
        color: rgb(192, 88, 88);
      }
    }
  }

  input {
    background-color: transparent;
  }
  .new {
    .newContainer {
      background-color: #171717;
      .top {
        background-color: #171717;
      }
      .right {
        background-color: #171717;
      }
    }
  }
  .newProduct {
    .newProductContainer {
      background-color: #171717;
      .protop {
        background-color: #171717;
      }
      .proright {
        background-color: #171717;
      }
    }
  }
  .single {
    .singleContainer {
      background-color: #171717;
      .top {
        background-color: #171717;
      }
      .right {
        background-color: #171717;
      }
    }
  }

  .singleproduct {
    .singleproductContainer {
      background-color: #171717;
      .top {
        background-color: #171717;
      }
      .right {
        background-color: #171717;
      }
    }
  }
}
