.orderdatatable {
  height: 600px;
  padding: 20px;

  .orderdatagrid .MuiDataGrid-columnHeaders {
    display: flex;
    justify-content: center;
  }

  .orderdatagrid .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .orderdatagrid .MuiDataGrid-cell {
    justify-content: space-evenly;
    text-align: center;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }

  .orderdatagrid .MuiDataGrid-cellContent {
    text-align: center;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }

  .orderdatatableTitle {
    width: 100%;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 24px;
    color: rgb(77, 75, 75);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .GoBackButton {
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      padding: 10px;
      background-color: rgb(0, 124, 0);
      color: rgb(235, 234, 234);
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .ordercellAction {
    display: flex;
    gap: 15px;
    justify-content: center;

    .orderdeleteButton {
      color: crimson;
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-size: 14px;
      font-weight: 800;
      text-align: center;
      cursor: pointer;
    }
  }
}
