@import url("https://fonts.googleapis.com/css2?family=Federant&family=Keania+One&family=Orbitron:wght@400..900&display=swap");
.table {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  .MuiTableCell-root,
  .MuiTableHead-root,
  .MuiTableBody-root,
  .MuiTableRow-root,
  .cellWrapper,
  .status {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: rgb(58, 58, 176);
  }
  .innerTable {
    .Heading {
      .HeadRow {
        .tableCell {
          font-weight: bold;
          font-size: 16px;
          color: rgb(96, 95, 95);
        }
      }
    }
  }
  .cellWrapper {
    align-items: center;
    display: flex;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }

    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
