@import url("https://fonts.googleapis.com/css2?family=Federant&family=Keania+One&family=Orbitron:wght@400..900&display=swap");
.datatable {
  height: 600px;
  padding: 20px;
  .datagrid .MuiDataGrid-columnHeaders {
    display: flex;
    justify-content: center;
  }

  .datagrid .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .datagrid .MuiDataGrid-cell {
    justify-content: space-evenly;
    text-align: center;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }

  .datagrid .MuiDataGrid-cellContent {
    text-align: center;
  }

  .datatableTitle {
    font-size: 24px;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: rgb(119, 119, 119);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .GoBackButton {
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(0, 124, 0);
      color: rgb(235, 234, 234);
      border: none;
      cursor: pointer;
    }

    .link {
      margin-left: 850px;
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      text-decoration: none;
      color: green;
      font-size: 18px;
      border: 1px solid green;
      padding: 5px;
      border-radius: 8px;
      border-width: 2px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;
    justify-items: space-evenly;
    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    gap: 15px;
    justify-content: center;

    .viewButton {
      color: darkblue;
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;
    }

    .deleteButton {
      color: crimson;
      font-family: "Saira", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
